
@font-face {
    font-family: 'iskoola pota';
    font-style: italic;
    src: url(../fonts/ISKPOTA.TTF) format('ttf');
}
@font-face {
    font-family: 'iskoola pota';
    src: url(../fonts/ISKPOTAB.TTF) format('ttf');
}
@font-face {
    src: url(../fonts/SYLFAEN.TTF) format('ttf');
}




ul {
    list-style: none;
    padding: 0;
}
li {
    display: inline;
}
p,h1,h2, h3, h4 {
    margin: 0;
    font-weight: lighter;
}
p {
    margin: 20px 0;
}
h1, h2 {
    color: #dc060e;
    font-size: 24px;
    text-transform: uppercase;
}
h3 {
    font-size: 20px;
    text-transform: uppercase;
    margin-bottom: 10px;
}
h4 {
    font-size: 18px;
}

a {
    color: black;
    text-decoration: none;
}
a:hover {
    color: #e60707;
}
body {
    min-width: 1124px;
    font-family: Arial, Tahoma, sans-serif;
    font-weight: normal;
    margin: 0;
    position: relative;
    background: #ebecec url("../img/background-photo.jpg") left 170px repeat-x;
}
body::after {
    content: "";
    position: absolute;
    top: 828px;
    width: 100%;
    bottom: 185px;
    background: url("../img/pattern-white1.png");
    z-index: -1;
    border-bottom: solid 5px #b41a20;
}

.header-wrapper {
    height: 170px;
    background: black url("../img/pattern-gray.png") repeat-x;
}

.container {
    box-sizing: border-box;
    width: 1024px;
    margin: auto;
}
header {
    padding-top: 15px;
}
.header-social {
    text-align: center;
    margin-bottom: 10px;
}
.social-btn {
    display: inline-block;
    width: 35px;
    height: 35px;
    border-radius: 5px;
    background: url("../img/social.png") no-repeat;
}
.instagram {
    background-position: left;
}
.instagram:hover {
    background-position: -154px;
}
.vk {
    background-position: -52px 0;
}
.vk:hover {
    background-position: -206px;
}
.odnokl {
    background-position: -102px 0;
}
.odnokl:hover {
    background-position: -256px;
}
.header-info {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    font-size: 16px;
    color: white;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
}
.address {
    margin-left: 5px;
    font-size: 16px;
    color: #f1f2f2;
}
.font-20 {
    font-size: 20px;
}
.number {
    /*padding-left: 110px;*/
    font-family: 'iskoola pota', sans-serif;
    font-style: italic;
    font-weight: normal;
    font-size: 25px;
    background: url("../img/phone.png") no-repeat 30px;
}
.footer-contacts .number {
    background-position: left;
    padding-left: 55px;
}
.header-contacts span {
    opacity: 0.5;
}
.header-contacts {
    margin-right: 5px;
    color: #e7e7e7;
    text-align: right;
}
.header-contacts div {
    margin: 10px;
}
.header-contacts a {
    color: #ef0a0a;
    padding-right: 10px;
}
.header-contacts a:hover {
    color: #e7e7e7;
}
.header-menu {
    background: #ffffff;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}
.menu-item {
    position: relative;
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    text-align: center;
    color: black;
    font-size: 12px;
    text-transform: uppercase;
}
.menu-item>a {
    text-align: center;
    line-height: 68px;
}
.menu-item::before {
    content: "";
    position: absolute;
    top: 20px;
    left: 0;
    width: 1px;
    height: 28px;
    background: #d4e1e2;
}
.menu-item:first-child::before {
    display: none;
}
.menu-item:hover:before {
    top: 0;
    height: 100%;
}
.menu-item:after {
    content: "";
    position: absolute;
    top: 0;
    right: -1px;
    width: 1px;
    height: 100%;
    background: #d4e1e2;
    display: none;
}
.menu-item:hover:after {
    display: block;
}
.dropdown {
    border: solid 1px #d4e1e2;
    padding: 0 15px;
    background: #ffffff;
    position: absolute;
    display: none;
}

.menu-item:hover .dropdown {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    z-index: 1;
}
.menu-item:hover:nth-last-child(1) .dropdown {
    right: 0;
}
.dropdown a {
    border-bottom: solid 1px #d4e1e2;
    padding: 10px;
}

.dropdown a:last-child {
    border: none;
}
.slider-video-wrapper {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    height: 350px;
}

.slider {
    position: relative;
    width: 640px;
    height: 350px;
}
.slide {
    display: none;
}
.slide.active {
    display: block;
}
.arrow-btn,
.slider-btn,
.owl-next,
.owl-prev {
    border: none;
    bottom: 30px;
    right: 20px;
    width: 25px;
    height: 25px;
    background: url("../img/slider/slider-btn.png") no-repeat;
}
.slider-btn,
.owl-next,
.owl-prev {
    position: absolute;
}

.left-btn,
.owl-prev {
    background-position: left;
    right: 50px;
}
.left-btn:hover,
.owl-prev:hover {
    background-position: right; /* Для Firefox */
    -ms-transform: rotate(180deg); /* Для IE */
    -webkit-transform: rotate(180deg); /* Для Safari, Chrome, iOS */ /* Для Opera */
    transform: rotate(180deg);
}
.right-btn,
.owl-next {
    background-position: left; /* Для Firefox */
    -ms-transform: rotate(180deg); /* Для IE */
    -webkit-transform: rotate(180deg); /* Для Safari, Chrome, iOS */ /* Для Opera */
    transform: rotate(180deg);
}
.right-btn:hover,
.owl-next:hover {
    background-position: right;
    -webkit-transform: none;
    -ms-transform: none;
    transform: none;
}

.owl-next,
.owl-prev {
    font-size: 0;
}
.video {
    width: 385px;
    padding-top: 65px;
    background: url("../img/sand.png");
    text-align: center;
}
.video a {
    display: block;
    margin: 10px;
}
.services {
    background: #ffffff
    url("../img/leafs.png") no-repeat center top;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: space-around;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    height: 200px;
    padding: 65px 10px 0 10px;
}
.services-item {
    position: relative;
    width: 153px;
    height: 153px;
    z-index: 2;
}
.services-item>a {
    position: relative;
    display: block;
    background: url("../img/services.png") no-repeat;
    width: 100%;
    height: 100%;
}

.hair {
    background-position: left top;
}
.decorative {
    background-position: -165px 0;
}
.body {
    background-position: -330px 0;
}
.spa {
    background-position: -500px 0;
}
.hands-feet {
    background-position: -665px 0;
}
.solar {
    background-position: -835px 0;
}
.services-dropdown {
    display: none;

}
.services-item:hover {
    cursor: pointer;
}
.services-dropdown a:hover {
    color: #2a2a2a;
}
.services-item:hover .services-dropdown {
    position: absolute;
    top: 70px;
    width: 153px;
    padding-top: 90px;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 100;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    text-align: left;
    background: #131313 url("../img/serv-back.png");
    z-index: 1;
}
.services-dropdown a {
    text-align: center;
    color: #e6e6e6;
    padding: 5px 0;
}

.stripe {
    height: 20px;
    background: url("../img/sand.png");
}
.in-insta {
    background: black;
    color: white;
    height: 355px;
    padding: 10px;
}
.in-insta>h3 {
    text-align: center;
}
.in-insta p {
    font-size: 18px;
    margin: 10px 0;
}
.insta-photos {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
}
.insta-items {
    height: 80px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;

}
.insta-item {
    text-align: left;
    margin: 0 20px;
}
.insta-item .button {
    margin-right: 50px;
}
.button {
    font-size: 16px;
    color: white;
    text-align: center;
    width: 115px;
    height: auto;
    line-height: 45px;
    border:solid 1px gray;
    background: #b41a20;
}
.button:hover {
    color: black;
}
.vantages {
    padding: 0 50px;
    height: 150px;
    background: #f5f5f5
    url("../img/borders.png") no-repeat right bottom;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}
.vantage-item {
    padding: 70px 0;
    margin-left: 60px;
}
.vantage-item:nth-child(2) {
    padding: 40px 0;
}
.comments {
    position: relative;
    background: #ffffff;
    padding: 35px 25px 50px 25px;
    height: 280px;
}
.comments:after {
    position: absolute;
    top: 0;
    left: 50%;
    content: "";
    width: 1px;
    background: gray;
    height: 100%;
}
.comment {
    padding-top: 20px;
}
.comment:first-child {
    margin-right: 40px;
}
.comments-wrapper {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}
.comments-wrapper .comment-flex {
    height: 100px;
}
.comment-flex {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: space-around;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    padding: 10px 0;
}
.comment-flex p {
    -webkit-box-flex: 1;
    -webkit-flex: auto;
    -ms-flex: auto;
    flex: auto;
    margin: 0 10px;
}
.comment-photo {
    -webkit-flex-basis: 85px;
    -ms-flex-preferred-size: 85px;
    flex-basis: 85px;
    -webkit-box-flex: 0;
    -webkit-flex-grow: 0;
    -ms-flex-positive: 0;
    flex-grow: 0;
    -webkit-flex-shrink: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    height: 85px;
    border-radius: 50%;
    background-color: #edece9;
}
.comment-user {
    display: inline-block;
    padding: 10px;
    background-color: #edece9;
}
.all-comments {
    float: right;
}
.courses {
    position: relative;
    padding-top: 35px;
    background: black;
    height: 325px;
    color: white;
}

.courses h2 {
    padding-left: 20px;
    color: white;
}
.schedule {
    color: white;
    position: absolute;
    right: 40px;
    padding-right: 30px;
    top: 0;
    background: url("../img/doc.png") no-repeat;
    background-position: right;
}
.schedule:hover {
    color: #dc060e;
    text-decoration: underline;
}
.main-container{
    position: relative;
}
.courses::after {
    width: 105%;
    height: 430px;
    content: "";
    position: absolute;
    top: -34px;
    left: 2px;
    background: url("../img/red-pattern.png") no-repeat;
}
.courses-wrapper {
    position: relative;
    z-index: 1;
}
.courses-flex {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    padding-top: 20px;
}
.course {
    color: #dc060e;
    width: 250px;
    height: 250px;
}
.course p {
    text-transform: uppercase;
    font-size: 16px;
    padding: 20px 0;
    background: rgba(195, 188, 186, 0.75);
    text-align: center;
    margin-top: 80px;
    margin-bottom: 0;
}
.course-dropdown {
    display: none;
}
.course-dropdown a {
    color: #dc060e;
}
.course:hover .course-dropdown {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    text-align: left;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    padding: 5px;
    line-height: 30px;
    background: rgba(195, 188, 186, 0.75);
}
.course:hover p {
    margin-top: 20px;
}
.increase-eyelashes {
    background: url("../img/course1.jpg");
}
.eyebrow {
    background: url("../img/course2.jpg");
}
.tress {
    background: url("../img/course3.jpg");
}
.lamin-eyelashes {
    background: url("../img/course4.jpg");
}
.about {
    background: #ffffff;
    padding: 35px 25px 5px 25px;
}
.salon-photos {
    background: #ffffff;
    padding: 15px 25px;
}
.salon-flex {
    margin-top: 20px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding-bottom: 10px;
}
.salon-flex img {
    box-shadow: 5px 10px 15px rgba(0,0,0,0.6);
}
.footer-container {
    margin-top: 5px;
    min-height: 185px;
    background: url("../img/footer-pattern.png") no-repeat;
    background-position: 20px -20px;
    padding-top: 28px;
}
.footer-menu {
    font-size: 18px;
    text-transform: uppercase;
}
.footer-menu a {
    padding-right: 20px;
}
.footer-menu a:hover {
    color: #dc060e;
}
.footer-flex {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
    padding: 0 25px;
}
.footer-flex-bottom {
    -webkit-box-align: end;
    -webkit-align-items: flex-end;
    -ms-flex-align: end;
    -ms-grid-row-align: flex-end;
    align-items: flex-end;
}
.footer-flex-item {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    font-size: 14px;
    color: black;
}
.consumer {
    text-decoration: underline;
}
.footer-address {
    font-size: 18px;
}
.footer-contacts div {
    font-size: 25px;
    margin-bottom: 10px;
}
.footer-contacts a {
    font-size: 14px;
    text-decoration: underline;
    float: right;
}
.footer-social {
    text-align: center;
    margin-bottom: -10px;
}

.copyright {
    font-size: 12px;
    width: 100px;
    padding-left: 50px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    margin-left: auto;
    background: url("../img/copyright-black.png") no-repeat left;
}
.copyright:hover {
    background: url("../img/copyright.png") no-repeat left;
}


/* Всплывающая форма */

.phone-number,
. appointment {
    display: none;
}
.error {
    font-size: 12px;
    color: #dc060e;
    display: none;
}
.form-send {
    font-size: 18px;
    margin-bottom: 10px;
    display: none;
}

.modal-content {
    display: none;

    position: absolute;
    top: 240px;
    left: 50%;

    width: 300px;
    margin-left: -230px;
    padding: 50px 80px;

    color: #000000;
    background: white;
    border: solid 1px gray;
    box-shadow: 0 30px 50px rgba(0, 0, 0, 0.7);
    z-index: 2;
}

.modal-content-close {
    position: absolute;
    top: 10px;
    right: 10px;

    width: 22px;
    height: 22px;

    font-size: 0;

    background-color: transparent;
    border: 0;
    outline: 0;
    cursor: pointer;
}

.modal-content-close::before,
.modal-content-close::after {
    content: "";
    position: absolute;
    top: 10px;
    left: 2px;

    width: 19px;
    height: 3px;
    background-color: #d0d0d0;
    border-radius: 1px;
}

.modal-content-close::before {
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.modal-content-close::after {
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

.modal-content h2 {
    margin: 0;
    margin-bottom: 20px;
    text-align: center;

    font-size: 30px;
    line-height: 42px;
}

.modal-content p {
    margin: 0;
    margin-bottom: 14px;
}

.tel-form, .appointment-form {
    margin-top: 30px;
    margin-bottom: 10px;
    text-align: center;
}

input[type="text"],
input[type="tel"],
textarea {
    width: 241px;
    margin: 0;
    margin-bottom: 10px;
    padding: 10px 15px;
    padding-right: 40px;
    text-align: center;

    font-size: 16px;
    line-height: 22px;
    color: #000000;

    border: 1px solid gray;
    outline: none;
}

.tel-form input:focus {
    border-color: #663d15;
}

.index-page {
}

/*СТИЛИ СТРАНИЦЫ ОТЗЫВЫ*/

.comments-page {
    background-color: white;
}
.comments-page h2 {
    margin-top: 30px;
    margin-left: 25px;
}

.comments-page a:hover {
    color: #dc060e;
}
.comments-page .comment,
.comments-wrapper .comment {
    padding-top: 0;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
}

.breadcrumbs ul {
    margin: 0;
    padding: 15px;
    background-color: #edece9;
}

.comments-2-flex {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    border-bottom: solid 1px gray;
    padding: 20px 25px;
}
.all-comments-flex {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
}

/*СТИЛИ СТРАНИЦЫ СПИСОК УСЛУГ*/

.services-page {

}

.about-services {
    box-sizing: border-box;
    background-color: white;
    padding: 25px;
}
.about-service a {
    text-decoration: underline;
}

/*СТИЛИ СТРАНИЦЫ УСЛУГ (КРУГИ)*/
.services-circles-page {
    background-color: white;

}
.circles-container {
    position: relative;
    height: 530px;
    padding: 70px 25px;
    background-image: url("../img/leafs-top.png"),
    url("../img/leafs-bottom.png");
    background-repeat: no-repeat;
    background-position: center top,
    center bottom;
}
.circle-2-flex h3 {
    left: 190px;
    top: 50px;
    position: absolute;
    white-space: nowrap;
}
.circle-decorative h3,
.circle-hands-feet h3 {
    top: 110px;
}
.circle-2-flex {
    position: absolute;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
}
.circles-left {
    top: 65px;
    left: 40px;
}
.circles-center {
    top: 165px;
    left: 33%;
}
.circles-right {
    top: 65px;
    right: 200px;
}
.circle {
    position: relative;
    display: inline-block;
    width: 175px;
    height: 175px;
    border: solid 6px #d0d0d0;
    border-radius: 50%;
    box-shadow: 25px 35px 45px -35px gray;
}
.circle-hair {
    margin-bottom: 70px;
    background: url("../img/circles/hair.png") center;
}
.circle-body {
    background: url("../img/circles/body.png") center;
}
.circle-decorative {
    margin-bottom: 70px;
    background: url("../img/circles/eyes.png") center;
}
.circle-hands-feet {
    background: url("../img/circles/hands.png") center;
}
.circle-spa {
    margin-bottom: 70px;
    background: url("../img/circles/spa.png") center;
}
.circle-solar {
    background: url("../img/circles/solar.png") center;
}

/*СТИЛИ СТРАНИЦЫ ТОВАРА*/
#owl-demo {
    width: 905px;
    padding-left: 40px;
    padding-right: 20px;
    margin: 0;
}
#owl-demo .item{
    width: 130px;
    height: 100px;
    background: #42bdc2;
    margin: 5px;
    color: #FFF;
    text-align: center;
}
.owl-prev {
    position: absolute;
    top: 40px;
    left: 0;

}
.owl-next {
    position: absolute;
    top: 40px;
    right: 0;
}


.product-page,
.service-page {
    background: white;
}
.product-page a,
.service-page a {
    text-decoration: underline;
}
.product-page a:hover,
.service-page a:hover {
    text-decoration: none;
}
.product-page-content {
    box-sizing: border-box;
    padding: 25px;
}
.product-flex {
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin: 20px 0;
}
.circle-product {
    -webkit-flex-shrink: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    background: url("../img/circles/hair.png") center;
}
.about-product {
    width: 450px;
}

.services-price {
    width: 300px;
    position: relative;
}

.services-price span {
    float: right;
    margin-left: 20px;
}

.services-btn {
    position: absolute;
    bottom: 0;
    left: 0;
    background: #ef0a0a;
    border: solid 1px #c1c1c1;
    width: 110px;
    height: 40px;
    text-align: center;
    color: white;
    font-size: 14px;
}
.services-btn:hover {
    background: #a3a3a3;

}
.slides-product {
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    margin-bottom: 30px;
}

/*СТИЛИ SERVICES-LIST*/
.services-list {
    background: white;
}
.services-list .container {
    padding: 25px;
}
.list-elements li {
    color: #dc060e;
    margin-left: 40px;
    list-style-type: disc;
}
.list-elements span {
    color: black;
}
.ol-list li,
.list-elements li {
    display: list-item;
}
table {
    margin: auto;
    text-align: center;
    border-collapse: collapse;
    margin-bottom: 20px;
}
table td {
    padding: 20px;
    border: solid 1px gray;
}
th {
    font-weight: 100;
    color: #dc060e;
    border: solid 1px gray;
    padding: 20px;
    background: #d0d0d0;
}


/*СТИЛИ media-discount-list*/
.media-discount-list {
    background: white;
}
.media-discount-list h4 {
    margin: 10px 0;
}
.media-discount-list .container {
    padding: 25px;
    box-sizing: border-box;
}
.discount-container {
    padding-bottom: 25px;
    border-bottom: solid 1px gray;
}
.flex-media-wrapper {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
}
.discount {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}
.discount-photo-circle {
    width: 90px;
    height: 90px;
    border-radius: 50%;
    background: #d0d0d0;
    -webkit-flex-shrink: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    margin: 10px;
}
.media-btn {
    width: 110px;
    height: 30px;
    background: #d0d0d0;
    color: black;
    border: none;
    display: block;
    margin-left: auto;
}
.media-btn:hover {
    background: #dc060e;
    color: white;
}
.pager {
    text-align: center;
}
.pager li {
    display: inline-block;
    width: 25px;
    height: 20px;
    padding-top: 5px;
    text-align: center;
}
.pager .page-active {
    -webkit-flex-shrink: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    border: solid 1px #dc060e;
    border-radius: 50%;
    color: #dc060e;
}
/*СТИЛИ СТРАНИЦЫ МЕДИА-КАРТОЧКА*/
.media-card-list {
    background: white;
}
.media-card-list .container{
    padding: 25px;
}

.slider-media {
    margin: 20px 20px 10px 0;
    float: left;
    width: 250px;
    overflow: hidden;
}
.slide-media-big {
    white-space: nowrap;
    font-size: 0;
    height: 200px;
    position: relative;
}
.slide-media-min {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin-top: 12px;
}

/*СТИЛИ СТРАНИЦЫ ФОТО-КАРТОЧКА*/
.photo-card-list {
    min-height: 630px;
    background: white;
}
.photo-card-list .container{
    padding: 25px;
}
.photo-card {
    margin: 20px 0;
}




.main-content {
    min-height: 630px;
}