ul {
    list-style: none;
    padding: 0;
}
li {
    display: inline;
}
p,h1,h2, h3, h4 {
    margin: 0;
    font-weight: lighter;
}
p {
    margin: 20px 0;
}
h1 {
    font-size: 60px;
}
h2 {
    color: #dc060e;
    font-size: 24px;
    text-transform: uppercase;
}
h3 {
    font-size: 20px;
    text-transform: uppercase;
    margin-bottom: 10px;
}
h4 {
    font-size: 18px;
}

a {
    text-decoration: none;
}
body {
    /*background: url("../img/background.jpg") no-repeat -580px top;*/
    background-color: #ebecec ;
    opacity: 0.8;
    font-family: Arial, sans-serif;
    font-weight: normal;
    margin: 0;
}
.header-wrapper {
    height: 172px;
    background: black
                url("../img/pattern-gray.png") repeat-x;
}

.background-photo-wrapper {
    position: relative;
    height: 680px;
    background: url("../img/background-photo.jpg") left bottom repeat-x;
}
.background-photo-wrapper::after {
    content: "";
    position: absolute;
    top: 630px;
    width: 100%;
    height: 1830px;
    background: url("../img/pattern-white1.png");
}
.container {
    width: 1024px;
    margin: auto;
}
header {
    padding-top: 15px;
}
.header-social {
    text-align: center;
    margin-bottom: 10px;
}
.social-btn {
    display: inline-block;
    width: 35px;
    height: 35px;
    border-radius: 5px;
    background: url("../img/social.png") no-repeat;
}
.instagram {
    background-position: left;
}
.vk {
    background-position: -52px 0;
}
.odnokl {
    background-position: -102px 0;
}
.header-info {
    display: flex;
    font-size: 16px;
    color: white;
    justify-content: space-between;
}
.address {
    font-size: 16px;
}
.font-20 {
    font-size: 20px;
}
.logo p {
    font-size: 22px;
}
.number {
    font-family: Arial, sans-serif;
    font-style: italic;
    font-size: 25px;
}
.number span {
    opacity: 0.5;
}
.header-contacts a {
    color: white;
}
.header-menu {
    background: #ffffff;
    display: flex;
}

.menu-item {
    position: relative;
    flex-grow: 1;
    text-align: center;
    color: black;
    font-size: 12px;
    text-transform: uppercase;
}
.menu-item>a {
    text-align: center;
    line-height: 68px;
}
.menu-item::before {
    content: "";
    position: absolute;
    top: 20px;
    left: 0;
    width: 1px;
    height: 28px;
    background: gray;
}
.menu-item:first-child::before {
    display: none;
}
.menu-item:hover:before {
    top: 0;
    height: 100%;
}
.menu-item:after {
    content: "";
    position: absolute;
    top: 0;
    right: -1px;
    width: 1px;
    height: 100%;
    background: gray;
    display: none;
}
.menu-item:hover:after {
    display: block;
}
.dropdown {
    border: solid 1px gray;
    padding: 0 15px;
    background: #ffffff;
    position: absolute;
    display: none;

}

.menu-item:hover .dropdown {
    display: flex;
    flex-direction: column;
}
.dropdown a {
    color: black;
    border-bottom: solid 1px gray;
    padding: 10px;
}
.dropdown a:hover {
    color: red;
}
.dropdown a:last-child {
    border: none;
}
.slider-video-wrapper {
    display: flex;
    height: 350px;
}
.slider {
    width: 640px;
    height: 350px;
    background: url("../img/slider1.jpg") no-repeat center;
}

.video {
    width: 385px;
    height: 350px;
    background: gray
                url("../img/video.jpg") no-repeat center;
}



.services {
    background: #ffffff
                url("../img/leafs.png") no-repeat center top;
    display: flex;
    justify-content: space-around;
    height: 200px;
    padding: 65px 10px 0 10px;

}
.services-item {
    position: relative;
    width: 158px;
    height: 158px;
    background: url("../img/services.png") no-repeat;

}
.hair {
    background-position: left;
}
.decorative {
    background-position: -165px 0;
}
.body {
    background-position: -330px 0;
}
.spa {
    background-position: -500px 0;

}
.hands-feet {
    background-position: -665px 0;

}
.solar {
    background-position: -835px 0;

}
.services-dropdown {
    display: none;
}

.services-item:hover .services-dropdown {
    position: absolute;
    top: 150px;
    width: 158px;
    color: white;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    text-align: center;
    background: #131313 url("../img/serv-back.png");

}
.stripe {
    height: 20px;
    background: url("../img/sand.png");
}
.in-insta {
    background: black;
    color: white;
    height: 355px;
    padding: 10px;
}
.in-insta>h3 {
    text-align: center;
}
.in-insta p {
    font-size: 18px;
    margin: 10px 0;
}
.insta-photos {
    display: flex;
    justify-content: center;
}
.insta-items {
    height: 80px;
    display: flex;
    align-items: center;

}
.insta-item {
    text-align: left;
    margin: 0 20px;
}
.button {
    font-size: 16px;
    color: white;
    text-align: center;
    width: 115px;
    height: 45px;
    border:solid 1px gray;
    background: red;
    margin-right: 50px;
}
.vantages {
    padding: 0 50px;
    height: 150px;
    background: #f5f5f5
                url("../img/borders.png") no-repeat right bottom;
    display: flex;
}
.vantage-item {
    padding: 50px 0;
    margin-left: 60px;
}
.vantage-item:nth-child(2) {
    padding: 20px 0;
}
.comments {
    position: relative;
    background: #ffffff;
    padding: 35px 25px;
    height: 305px;
}
.comments:after {
    position: absolute;
    top: 0;
    left: 50%;
    content: "";
    width: 1px;
    background: gray;
    height: 100%;
}
.comment {
    padding-top: 20px;

}
.comment:first-child {
    margin-right: 40px;
}
.comments-wrapper {
    display: flex;
}
.comment-flex {
    display: flex;
    justify-content: space-around;
    padding: 10px 0;
}
.comment-flex p {
    flex: auto;
    margin: 0 10px;
}
.comment-photo {
    flex-basis: 85px;
    flex-grow: 0;
    flex-shrink: 0;
    height: 85px;
    border-radius: 50%;
    background-color: gray;
}
.all-comments {

}
.courses {
    position: relative;
    padding-top: 35px;
    background: black;
    height: 325px;
    color: white;
}
.courses h2 {
    color: white;
}
.courses-flex::before {
    width: 105%;
    height: 430px;
    content: "";
    position: absolute;
    top: -34px;
    left: 2px;
    background: url("../img/red-pattern.png") no-repeat;
}
.courses-flex {
    display: flex;
    justify-content: center;
}
.course {
    width: 250px;
    height: 250px;
}
.increase-eyelashes {
    background: url("../img/course1.jpg");
}
.eyebrow {
    background: url("../img/course2.jpg");
}
.tress {
    background: url("../img/course3.jpg");
}
.lamin-eyelashes {
    background: url("../img/course4.jpg");
}
.about {
    background: #ffffff;
    padding: 35px 25px;
    height: 290px;
}
.salon-photos {
    background: #ffffff;
}
.salon-flex {
    display: flex;
    justify-content: space-around;
}
.footer-flex {
    display: flex;
    justify-content: space-around;
}